.git
.github
docs
node_modules
public/build
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/*
docker-compose.yml
compose.yaml
tests
.env
.env.*
!/.env.example
